$blue: #00aaff;
$midnight: #04709f;
$indigo: #6610f2;
$purple: #6f42c1;
$vanilla: #ff9494;
$pink: #e83e8c;
$red: #cc0000;
$orange: #f7a130;
$yellow: #d7cf9b;
$green: #28a745;
$teal: #20c997;
$cyan: #2aa7d1;
$pale: #CCC;
$light: #888888;
$gray: #666666;
$dark: #292929;
$night: #222222;
$body-bg: #353535;
$primary: $green;
$border-radius: 0.1rem;
$border-radius-lg: 0.1rem;
$border-radius-sm: 0.1rem;
$input-bg: $dark;
$input-color: $light;
$input-border-color: $gray;
$input-focus-border-color: $green;
$input-focus-box-shadow: none;
$input-disabled-bg: $dark;
$custom-file-button-bg: $dark;
$custom-file-button-color: $light;

